@font-face {
    font-family: 'shabnam';
    src: url('../fonts/Shabnam.eot') format('eot');
    src: url('../fonts/Shabnam.ttf') format('truetype'),
        url('../fonts/Shabnam.woff') format('woff');
}
